* {
  margin: 0;
  padding: 0;
}

/* app container */

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  height: 100vh;
}

/* user input section */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}